In [1]:
import numpy as np
import pandas as pd

In [2]:
tip = pd.read_csv("tip.csv", usecols=["text"])
tip.dropna( inplace = True)

In [3]:
tip.shape

(908910, 1)

In [4]:
tip

                                                     text
0                          Avengers time with the ladies.
1       They have lots of good deserts and tasty cuban...
2                  It's open even when you think it isn't
3                               Very decent fried chicken
4                  Appetizers.. platter special for lunch
...                                                   ...
908910              Disappointed in one of your managers.
908911                            Great food and service.
908912                                Love their Cubans!!
908913                            Great pizza great price
908914                  Food is good value but a bit hot!

[908910 rows x 1 columns]

In [5]:
from nltk import ngrams

Antes de pasarlo por ngrams, voy a importar el word tokenizer para tokernizar todos los textos

In [6]:
from nltk.tokenize import word_tokenize
import re

Antes de tokenizar los textos, decidi hacer a todos los textos un lowercase para no perderme mismas oraciones

In [7]:
lowercase = tip["text"].apply(lambda x : x.lower())

ademas, le saco los signos de puntuacion que no sirvan (decidi que, por ej: la palabra is'nt cuenta como una sola y es isnt)

In [8]:
unsigned = lowercase.apply(lambda x : re.sub("[$?&,!.']", "", x))

In [9]:
tokens = unsigned.apply(lambda x: word_tokenize(x))

In [10]:
#muestra de como es la serie
tokens[:5]

0                  [avengers, time, with, the, ladies]
1    [they, have, lots, of, good, deserts, and, tas...
2        [its, open, even, when, you, think, it, isnt]
3                       [very, decent, fried, chicken]
4           [appetizers, platter, special, for, lunch]
Name: text, dtype: object

In [11]:
def getGrams(lista , n_grams):
    for gram in n_grams:
        lista.append(gram)

In [12]:
listaDeUplas = []
tokens.apply(lambda x: getGrams(listaDeUplas,ngrams(x,3)))
listaDeUplas[:5]

[('avengers', 'time', 'with'),
 ('time', 'with', 'the'),
 ('with', 'the', 'ladies'),
 ('they', 'have', 'lots'),
 ('have', 'lots', 'of')]

In [13]:
tresUplas = pd.Series(listaDeUplas)
tresUplas

0          (avengers, time, with)
1               (time, with, the)
2             (with, the, ladies)
3              (they, have, lots)
4                (have, lots, of)
                    ...
8459192         (is, good, value)
8459193        (good, value, but)
8459194           (value, but, a)
8459195             (but, a, bit)
8459196             (a, bit, hot)
Length: 8459197, dtype: object

In [14]:
tresUplas.value_counts()

(love, this, place)                9865
(this, place, is)                  9014
(great, food, and)                 6012
(the, food, is)                    5997
(is, the, best)                    5906
                                   ...
(taste, of, bucktown)                 1
(of, bucktown, '')                    1
(this, neighborhood, barre)           1
(neighborhood, barre, location)       1
(value, but, a)                       1
Length: 4422995, dtype: int64